@import 'variables';

// Main Layout Colours
body {
  background-color: $color-primary;
  color: $anti-flash-white;
}

.card {
    background-color: $anti-flash-white;
     //   background-color: $color-primary;
        color: $eerie-black;
}

.navbar {
    background-color: $color-secondary;
}

// Game Colours

.hidden-pocket-cards .card {
    background-color: $dark-imperial-blue;
}

.game-table {
    background: $witching-hour;
    box-shadow: 1em 1em 3em #240b36;
 
 //background: $namn;
 
 //background: $night-hawk
   //background: $red-mist;
}

%seat {
    background-color: $color-light;
}

.empty-seat {
    opacity: 0.5;
   // background-color: rgba($color-light, 0.4);
}

.empty-seat:hover {
    opacity: 0.88;
   // background-color: rgba($color-light, 0.4);
}