@import 'variables';

// Main Layout Colours
html {
    color: white;
    background: $gotham;
    height: 100%;
}

.card {
    background-color: $anti-flash-white;
    color: $eerie-black;
}

.navbar, .action-panel  {
    background-color: $color-secondary;
}


.hidden-pocket-cards .card {
    background-color: $dark-imperial-blue;
}

.game-table {
    background: $witching-hour;
    box-shadow: 0em 1em 7em #00030491; 
}

%seat {
    background-color: $color-light;
}


.button {
    background: $color-primary;
}

.button:hover {
  background-color: $color-light;
  animation: ease-in-out 0.2s;
}
