@import 'variables';

// Main Layout Colours
body {
  background-color: $color-primary;
  color: $anti-flash-white;
}

.card {
    background-color: $anti-flash-white;
}

.navbar {
    background-color: $color-secondary;
}

// Game Colours

.hidden-pocket-cards .card {
    background-color: $dark-imperial-blue
}

.game-table {
    background: $witching-hour;
 
 //background: $namn;
 
 //background: $night-hawk
   //background: $red-mist;
}

%seat {
    background-color: $color-light;
}