@import 'variables';

/*
---------------------------------
  Media queries
---------------------------------
*/

// Small devices
@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Extra large devices
@mixin xxl {
   @media (min-width: #{$screen-xxl-min}) {
       @content;
   }
}

// Game
%seat {
    margin: auto;
    background: blanchedalmond;
    justify-content: center;
    align-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 7em;
}

%showdown-pocket-cards {
    margin: auto;
    margin-bottom: 0;
}