// Import Modular Scale Plugin
@import '~modularscale-sass/stylesheets/modularscale';

@import 'variables';

/*
---------------------------------
  Typography
---------------------------------
*/

@font-face {
     font-family: 'Gotham-Narrow-Book';
     src:
       url('http://localhost:9080/fonts/GothamPro/Gotham-Narrow-Book.ttf') format('ttf'),
}


@font-face {
     font-family: 'GothamPro-Black';
     src:
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Black.woff2') format('woff2'),
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Black.ttf') format('ttf'); 
     font-weight: 800;
}


@font-face {
     font-family: 'GothamPro-Bold';
     src:
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Bold.woff2') format('woff2'),
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Bold.ttf') format('ttf'); 
     font-weight: 600;
}

@font-face {
     font-family: 'GothamPro-Medium';
     src:
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Medium.ttf') format('ttf'); 
     font-weight: 400;
}

@font-face {
     font-family: 'GothamPro-Light';
     src:
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Light.woff2') format('woff2'),
       url('http://localhost:9080/fonts/GothamPro/GothamPro-Light.ttf') format('ttf'); 
     font-weight: 200;
}


// Configure modular-scale plugin
$modularscale: (
  base: 0.6em,
  ratio: 1.15,
  $screen-sm-min: (
    base: 0.8em,
    ratio: 1.25,
  ),
  $screen-md-min: (
    base: 0.9em,
    ratio: 1.25,
  ),
  $screen-lg-min: (
    base: 0.9em,
    ratio: 1.25,
  ),
  $screen-xl-min: (
    base: 0.9em,
    ratio: 1.25,
  ),
   $screen-xxl-min: (
    base: 0.9em,
    ratio: 1.333,
  ),
);


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, .h1 {
  @include ms-respond(font-size, 5);
     font-family: 'GothamPro-Bold', sans-serif;

}

h2, .h2 {
  @include ms-respond(font-size, 4);
     font-family: 'GothamPro-Bold', sans-serif;

}

h3, .h3 {
  @include ms-respond(font-size, 3);
    letter-spacing: 1.3px;
   font-family: 'GothamPro-Bold', sans-serif;
}

h4, .h4 {
  @include ms-respond(font-size, 1);
  letter-spacing: 0.8px;
     font-family: 'GothamPro-Medium', sans-serif;

}

h5, .h5 {
  @include ms-respond(font-size, 1);
  letter-spacing: 1px;
  font-family: 'GothamPro-Book', sans-serif;
    font-weight: 600;
}
  

body, .body {
  @include ms-respond(font-size, 0);
  font-family: 'GothamPro-Book', sans-serif;
  letter-spacing: 0.7px;
}

.brand-title {
  letter-spacing: 1.4px;
  font-family: 'GothamPro-Bold', sans-serif;
}

.seat h5, .seat h4 {
  font-family: 'Gotham-Narrow-Book', sans-serif;
}