// Import Modular Scale Plugin
@import '~modularscale-sass/stylesheets/modularscale';


/*
---------------------------------
  Typography
---------------------------------
*/

// Small tablets and large smartphones (landscape view)
$sm: 576px;

// Small tablets (portrait view)
$md: 768px;

// Tablets and small desktops
$lg: 992px;

// Large tablets and desktops
$xl: 1200px;

// Configure modular-scale plugin
$modularscale: (
  base: 12px,
  ratio: 1.5,
  $sm: (
    ratio: 1.2,
  ),
  $md: (
    base: 15px,
    ratio: 1.3,
  ),
  $lg: (
    base: 15px,
    ratio: 1.3,
  ),
  $xl: (
    base: 15px,
    ratio: 1.3,
  ),
);


h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0;
}

h1, .h1 {
  @include ms-respond(font-size, 3);
}

h2, .h2 {
  @include ms-respond(font-size, 2);
}

h3, .h3 {
  @include ms-respond(font-size, 2);
}

h4, .h4 {
  @include ms-respond(font-size, 2);
}

body, .body {
  @include ms-respond(font-size, 1);
}