

/*** Variables ***/

/*
---------------------------------
  Colours
---------------------------------
*/

$prussian-blue:  #003049;  
$dark-cerulean:  #064789;  
$orioles-orange: #F34213;  
$eerie-black:    #161925;  
$lavender-mist:  #ECE5F0;  

// App colours
$color-primary: $prussian-blue;
$color-secondary: $dark-cerulean; 
$color-accent: $orioles-orange;
$color-lightest: $lavender-mist;
$color-darkest: $eerie-black;

$color-brand: $prussian-blue;

// Brand colours
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Borders
$border-light: solid 1px rgba(0, 0, 0, .05);


/*
---------------------------------
  Media queries
---------------------------------
*/

// Very small devices such as small phones
$screen-xs-min: 376px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 798px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large tablets and desktops
$screen-xxl-min: 1600px;

/*
---------------------------------
  Animation
---------------------------------
*/

// Animation
$anime-in: .4s;
$anime-out: .5s;