/*** Variables ***/

/*
---------------------------------
  Colours
---------------------------------
*/

// table gradient should comprise of mixed palette colours
$dark-imperial-blue: #003e60;

$anti-flash-white: white; // #F0EFF4;

$prussian-blue: #003049;
$dark-cerulean: #064789;
$eerie-black: #161925;
$deep-space-purple: #415a77;

$outer-space-grey: #424b54;
// or
$orioles-orange: #f34213; // perhaps busies the palette too much

// App colours
$color-primary: $prussian-blue;
$color-secondary: $dark-imperial-blue;
$color-accent: $orioles-orange;
$color-light: $deep-space-purple;
$color-darkest: $eerie-black;

$color-brand: $prussian-blue;

// gradients
$gotham: radial-gradient(#240b36, $dark-imperial-blue);

$witching-hour: radial-gradient(#c31432, #240b36);
$night-hawk: radial-gradient(#2980b9, #2c3e50);
$red-mist: radial-gradient(#e74c3c, #000000);
$namn: linear-gradient(#a73737, #7a2828);

// Brand colours
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Borders
$border-light: solid 1px rgba(0, 0, 0, 0.05);

/*
---------------------------------
  Media queries
---------------------------------
*/

// Very small devices such as small phones
$screen-xs-min: 376px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 798px;

// Tablets and small desktops
$screen-lg-min: 1222px;

// Large tablets and desktops
$screen-xl-min: 1250px;

// Large tablets and desktops
$screen-xxl-min: 1600px;

/*
---------------------------------
  Animation
---------------------------------
*/

// Animation
$anime-in: 0.4s;
$anime-out: 0.5s;
