%full-screen {
  position: absolute;
  height: 100%;
  width: 100%
}

.app {
    @extend %full-screen;
}

.app-wrapper {
  @extend %full-screen;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.8fr 15fr;
  grid-template-areas:
    'navbar'
    'main'
}

.game-view-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 1.5fr;
}