@import '../common/mixins';

%full-screen {
  position: absolute;
  height: 100%;
  width: 100%
}

.app {
    @extend %full-screen;
}

.app-wrapper {
  @extend %full-screen;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.8fr 15fr;
  grid-template-areas:
    'navbar'
    'main'
}

.game-view-grid {
  display: grid;
//  grid-template-rows: 1fr 5fr 2fr;
  grid-template-columns: max-content;

  @include xl {
      margin-left: 14vw;
      margin-right: 14vw;
  }

   /* Prevents table Aspect Ratio from being too wide on wider screens. */
   @include xxl {
        margin-left: 22vw;
        margin-right: 22vw;
    }
}