%full-screen {
  position: absolute;
  height: 100%;
  width: 100%
}

.app {
    @extend %full-screen;
}

.app-wrapper {
  @extend %full-screen;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.8fr 15fr 0.8fr;
  grid-template-areas:
    'navbar'
    'main'
    'footer';
}
