
// FONTSET FUNCTIONS
// This function is intended to be called by other functions and can be used to get information from the Sass list above. The $feature can be any key from the Sass list such as line-height or font-size.
@function _fontset-feature($feature, $family:$font-default, $set: 'base'){
    $result: map-get(map-get($family, $set), $feature);
    @return ($result * 1px);
}

// Sets the family from the stack key in a Sass list
@function fontset-family($family) {
    $result: map-get($family, stack);
    @return unquote($result);
}

// FONT-SIZE + LINE-HEIGHT FUNCTIONS
// These functions return the font-size or line-height depending on the font-family list. To avoid duplication these functions call the fontset-feature function above.

@function calc-font-size($set, $family:$font-default) {
    @return _fontset-feature(font-size, $family, $set);
}

@function calc-line-height($set, $family:$font-default) {
    @return _fontset-feature(line-height, $family,  $set);
}

// FONT-SCALE MIXIN
// Applies the functions above into a mixin so that we can set font-size and line-height at the same time.
// If there is a font-family set there 
// Example: @include font-scale(small, $font-verdana);
@mixin font-scale ($font-size, $family:$font-default, $line-height:$font-size) {
    font-size: calc-font-size($font-size, $family);
    line-height: calc-line-height($line-height, $family);
    @if $family != $font-default {
        font-family: fontset-family($family);
    }
}


// APPLYING THE TYPOGRAPHIC SCALE

body {
  font-family: fontset-family($font-georgia);
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;
}


h1, .h1 {
  @include font-scale(x-large);
}

h2, .h2 {
  @include font-scale(large);
}

h3, .h3 {
  @include font-scale(mid-large);
}

h4, .h4 {
  @include font-scale(mid);
}