/* Main App Grid */
@import 'layout/app';

/* Improt common modules */
@import 'common';

/* Components */
@import 'components/game';
@import 'components/footer';
@import 'components/navbar';
@import 'components/buttons';


// Main Layout Colours
html {
    color: white;
    background: red; //$gotham;
    height: 100%;
}
