
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto:300,400|Roboto+Condensed:300,400,700|Roboto+Mono:300,400,500,700');


html {font-size: 16px;}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight:700;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight:700;

}
/*   line-height: 1.15;
*/
h3 {
    font-weight:700;

    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}


.signedin-logo {
    width: 40px;
    height: 40px;
}

.auction-container img {
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}


.auction-container {
    display: flex;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 125px;
}

.auction-container-left {
    flex-direction: column;
    display: flex;
}

.auction-container-right {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.auction-container-item {
}

.title-container {
  text-align: center;
  margin-top: 40px;
}

.signedin-container {
    display: flex;
    position: absolute;
    right: 75px;
    top: 28px;
}

.auction-container-item > p {    margin: 30px 48px 40px 0;}

.username-container {margin: auto;}

.signedin-logo-container {
    margin: auto;
   margin-left: 18px;
}

button {
    background-color:  #4C92E3 0;
}

.bid-input-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bid-input-container > input[type=text]  {
    width: 126px;
}

.bid-progress-container {
    margin-top: 35px;
}


/* Login Screen */

.login-form {
  margin-top: 27px;
  text-align: center
}

.heading {
  margin-top: 290px;
  text-align: center;
  margin-bottom: 80px;
}

  
button { 
    color: white;
    padding: 11px 20px; 
    border: 0 none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', 'sans-serif';
    border-radius: 6px; 
    background-color: #4C92E3;
    text-transform: uppercase;
    outline:none;
}

button:hover {
    background-color: rgba(76, 146, 227, 0.907);
  transition: ease-in;
}

.starting-val-container {
    margin-top: 15px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.max-bid-container {
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.starting-price-label, .max-bid-label {
    width: 168px;
}

.create-auction-container {

}

.auction-container-right input {
    width: 70px;
    height: 20px;
    margin: auto;
    margin-right: 0;
    text-align: right;
}

.hash-cell {
    text-transform: uppercase;
    font-family: 'Roboto Mono', 'sans-serif';
}

td {
    padding-right: 8px;
    font-weight: 700;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
}

input[type=text] {
    height: 27px;
    padding: 5px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
}

input[type=text]:focus {
    border-color:#333;
}

.no-margin-top h3 {
    margin-top: 0;
}

.no-margin-top p {
    margin-top: 0;
}

/* Auction table list */
.auction-row {
    background-color: #0074D9;
    transition-timing-function: ease;
    transition-duration: 0.2s;
  }
  
  .auction-row:hover {
    opacity: 0.87;
    transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: 0.22s;
  }
  
  .auction-row-selected {
    background-color: #3255BC;
    transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.2s;
  }

.tx-log-table {
    overflow-y: auto;
    height: 100px;
}
::-webkit-scrollbar-track {
    display: none;
}