
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto');


h5,h4,h3,h2,h1 {
 font-weight:700;
 font-family: 'Montserrat', sans-serif;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 300px;
    height: 200px;
}

.auction-container {
    margin: 90px;
    border-width: 1px;
    border-style: solid;
    border-color:orange;
}

.auction-container-left {
    flex-direction: column;
    flex-grow: 2;
    border-width: 1px;
    border-style: solid;
    border-color: mediumturquoise;
  }
  

.auction-container-right {
  flex-direction: column;
  flex-grow: 2;
  border-width: 1px;
  border-style: solid;
  border-color:green;
}


.auction-container-item {
    border-width: 1px;
    border-style: solid;
    border-color:red;
}