
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Roboto');


html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight:700;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
}


.signedin-logo {
    width: 40px;
    height: 40px;
}

.auction-container img {
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}


.auction-container {
    display: flex;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 125px;
}

.auction-container-left {
    flex-direction: column;
    display: flex;
}

.auction-container-right {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.auction-container-item {
}

.title-container {
  text-align: center;
  margin-top: 40px;
}

.signedin-container {
    display: flex;
    position: absolute;
    right: 75px;
    top: 28px;
}

.auction-container-item > p {    margin: 30px 48px 40px 0;}

.username-container {margin: auto;}

.signedin-logo-container {
    margin: auto;
   margin-left: 18px;
}

button {
    background-color:  #4C92E3 0;
}

.bid-input-container {
    margin-top: 20px;
    margin-bottom: 15px;
}


.bid-progress-container {
    margin-top: 35px;
}


/* Login Screen */

.login-form {
  margin-top: 27px;
  text-align: center
}

.heading {
  margin-top: 320px;
  text-align: center;
}

  
button{ 
    color: white;
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', 'sans-serif';
    border-radius: 6px; 
    background-color: #4C92E3;
    outline:none;
}

.main-btns {
    position: absolute;
    margin-left: 20px;
}

input[type=text] {
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', 'sans-serif';
   font-weight: 700;
}

input[type=text]:focus {
    border-color:#333;
}

.no-margin-top h3 {
    margin-top: 0;
}

.no-margin-top p {
    margin-top: 0;
}