@import 'game/table';
@import 'game/actionPanel';
@import 'game/boardCards';
@import 'game/cards';

.game {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: 1fr 475px 1fr 1fr;
}
