.navbar {
    display: flex;
    text-align: center;
    background: green;
    min-height: 4em;
}

.navbar-brand {
    width: 20em;
    margin: auto;
    padding-left: 2.5em;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5em;
}

.navbar-item {
    width: 6em;
}

.brand-title {
    letter-spacing: 0.1em;
}