.navbar {
    display: flex;
    text-align: center;
    background: green;
        height: 3.5em;

    
}

.navbar-brand {
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5em;
}

.navbar-item {
    width: 7em;
}