
.actionPanel {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: pink;
    display: flex;
    margin-top: 2.5em;

    @include sm {
      margin-top: 5em;
    }
}

.action-panel-left-container {
    background-color: blue;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;

    @include xxl {
      width: 40%;
    }
}

.user-pocket-cards-container {
    margin: auto;
    background-color:red;
    height: 65%;
    width: 70%;
    display: flex;
    align-items: center;
}


/* cards behind player oval representing opponent pockets outwith showdown */
.user-pocket-cards-container .card {
    font-size: 275%;
}

.user-actions-container {
    

}
