@import '../../common';

.rank {
   padding-top: 0.2em;
}

.suit > img {
  height: 0.75em;
  width: 0.75em;
  margin-bottom: 0.4em;
}

.suit-icon { 
  width: 100%
}

.card {
  @extend %card;
}

/* cards behind player oval representing opponent pockets outwith showdown */
.hidden-pocket-cards .card {
    position: absolute;
    z-index: -1;
    margin: 0;
    height: 2.5em;
    width: 1.8em;
    top: -1em;
}

.hidden-pocket-cards-container {
  width: 70%;
  margin: auto;
}

.pocket-one {
  right: 65%;
  margin-left: 0;
}

/* Pocket cards held by opponents that are face down */
.hidden-pocket-cards {
  position: relative;
  margin: auto;
  width: 0;
}


/* Cards displayed at showdown  */
.showdown-pocket-cards-container {
    width: 100%;
    margin: auto;
    display: flex;
}

.showdown-pocket-cards-container:first-child {
    margin-right: 0.15em;
}

.showdown-pocket-cards-container:last-child {
    margin-right: 0.15em;
}

.showdown-pocket-cards-0 {
    @extend %showdown-pocket-cards;
    grid-area: 4/3;
}

.showdown-pocket-cards-1 {
    @extend %showdown-pocket-cards;
    grid-area: 3/1;
}

.showdown-pocket-cards-2 {
    @extend %showdown-pocket-cards;  
    grid-area: 1/1;
}

.showdown-pocket-cards-3 {
    @extend %showdown-pocket-cards;
    grid-area: 1/3;
}

.showdown-pocket-cards-4 {
    @extend %showdown-pocket-cards;
    grid-area: 1/5;
}

.showdown-pocket-cards-5 {
    @extend %showdown-pocket-cards;
    grid-area: 3/5;
}

.showdown-pocket-cards-6 {
    @extend %showdown-pocket-cards;
    grid-area: 1/3;
}
