.rank {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}

.suit {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;
}

.suit > img {
  height: 25px;
  width: 25px;
}

.suit-icon { 
  width: 100%
}

/* A poker cards dimensions are 63.5mm X 88.9mm */
.card {
  height: 95px;
  width: 68.5px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50fr 0.5fr 0.5fr 50fr;
  background-color: white;
  font-weight: 800;
  font-size: 2.2em;
  border-radius: 10px;
}


/* cards behind player oval representing opponent pockets outwith showdown */
.hidden-pocket-cards .card {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: -2.7em;
    height: 100px;
    width: 80px;
    z-index: -1;
  }

.pocket-one {
  right: 65%;
}

.hidden-pocket-cards {
  position: relative;
  margin-left: 37%;
}