
/*

The real power of mixins comes when you pass them arguments. 
Arguments are declared as a parenthesized, comma-separated list of variables. 

Each of those variables is assigned a value each time the mixin is used.

@mixin default-box($color, $boxModel, $padding) {
  $borderColor: $color;
  border: 1px solid $borderColor;
  clear: both;
  display: $boxModel;
  margin: 5px 0;
  padding: 5px $padding;
}

header{ @include default-box(#666, block, 10px); }
footer{ @include default-box(#999, inline-block, 5px);
*/


%seat {
    margin: 0;
    background: blanchedalmond;
    justify-content: center;
    align-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 3em;
}

.seat-0 {
    @extend %seat;
}

.seat-0-container {
    @extend %seat;
    grid-area: 5/3;
}

.seat-1 {
    @extend %seat;
}

.seat-1-container {
    @extend %seat;
    grid-area: 4/1;
}

.seat-2 {
    @extend %seat;
    grid-area: 2/1;
}

.seat-2-container {
    grid-area: 2/1;
}

.seat-3 {
    @extend %seat;
    grid-area: 1/3;
}

.seat-3-container {
    grid-area: 1/3;
}

.seat-4 {
    @extend %seat;
    grid-area: 2/5;
}

.seat-4-container {
    grid-area: 2/5;
}

.seat-5 {
    @extend %seat;
}

.seat-5-container {
    grid-area: 4/5;
}
