/* Six Player Table */
.table-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    width: 100%;
    height: 100%;
}

.game-table {
  position: relative;
  background: red;
  grid-area: 2/2/5/5;
  width: 120%;
  height: 120%;
  left: -5%;
  top: -6%;
  border-radius: 20%;
  z-index: -1;
}

